<main >
    <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)" >
        <fieldset class="mb-3">
            <label for="username" class="block text-xl p-4">Username</label>
            <input type="text" 
                ngModel
                #username="ngModel"
                name="username" id="username" 
                class="border border-slate-300 p-2 rounded" 
                placeholder="Ash ketchup"/>
        </fieldset>

        <button type="submit" class="bg-yellow-500 p-2 rounded-xl w-28 outline hover:bg-yellow-400">Login</button>
    </form>
</main>